h2 {
	font-style: italic;
	font-family: Arial;
	font-size: 24px;
	padding-left: 10px;
}

#formbox {
	background-color: #d9d9d9;
	color: #666666;
	margin: 10px 10px;
	padding-bottom: 50px;
	padding-top: 5px;
	padding-left: 15px;
} h3 {
	font-style: italic;
	font-family: Arial;
	font-size: 20px;
	color: black; 
}

#row {
	display: table-row;
}

#page_div {
  display:table-cell;
  width: 150px;

}
#rpp_div {
  display:table-cell;
  width: 150px;

}
#sort_div {
  display:table-cell;
  width: 150px;

}
#score_div {
  display:table-cell;
  width: 150px;

}

#button {
	/*float: right;
	margin: 10px 10px 0;*/
	margin-top: 10px;
	margin-left: 80%; 
	background-color: #79C25E;
	color: white;
	font-size: 20px;
	border-color: #5E974A;
	padding: 6px 18px;
}

input {
	width: 150px;
	-webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}
option {
	width: 150px;
}